body{
    margin-top:10vh ;
    background:#eee;
    text-align:center;
  }
  h1{
    text-align:center;
    margin-bottom:15px;
    font-family: sans-serif;
    color: navy;
    font-weight:bold;
  }
  p.info{
    text-align:center;
    width:400px;
    margin:0 auto;
    font-size:12px;
    font-weight:bold;
    color:#666;
    margin-bottom:35px;
    font-family: sans-serif;
  }
  ul{
    list-style: none;
    text-align:center;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  li{
    margin: 20px 0 20px 0;
    z-index: 1;
  }

  a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight:bold;
    z-index: 1;
  }

  .com{
    color: #fc2323 ;
  }

  .two{
    color: #ffd905;
  }