
#board {
    z-index: 0;
    width:430px;
    height:375px;
    background-color: blue;
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    z-index: 0;
    height: 51px;
    width: 51px;
    margin: 5px;
     /* Circle  */
    /* background-color: white; */
    border-radius: 50%;
    /* border: 5px solid navy; */
}

.red-piece {
    background-color: #fc2323 !important;
    outline-style: solid;
    outline-color: #ccc;
    outline-width: 1px;
    z-index: 0;
}

.yellow-piece {
    background-color: #ffd905 !important;
    outline-style: solid;
    outline-color: #ccc;
    outline-width: 1px;
    z-index: 0;
}


.circle {
  z-index: 0;
	position: absolute;
  border: solid 1px #ccc;
  background-color: #fc2323;
	width: 52px; 
	height: 52px; 
  border-radius: 50%;  
}